<app-header></app-header>
<div class="logreg-forms">
  <form class="form-signup" [formGroup]="passwordForm" (ngSubmit)="onSubmit()">

    <p style="text-align:center">Change Password</p>
    <label>Old Password</label>
    <input type="password" name="current_password" formControlName="current_password" class="form-control" required
          >

    <div *ngIf="current_password.invalid && (current_password.dirty || current_password.touched)"
         class="alert alert-danger">
      <div *ngIf="current_password.errors.required">
        Password is required.
      </div>
      <div *ngIf="current_password.errors.minlength">
        Password must be at least 6 characters long.
      </div>
    </div>

    <label>New Password</label>
    <input type="password" id="newPassword" name="new_password" formControlName="new_password" class="form-control"
           >

    <div *ngIf="new_password.invalid && (new_password.dirty || new_password.touched)"
         class="alert alert-danger">
      <div *ngIf="new_password.errors.required">
        Password is required.
      </div>
      <div *ngIf="new_password.errors.minlength">
        Password must be at least 6 characters long.
      </div>
    </div>

    <label>Confirm New Password</label>
    <input type="password" id="confirmPassword" name="new_password_confirmation" formControlName="new_password_confirmation"
           class="form-control" required >

    <div *ngIf="new_password_confirmation.invalid && (new_password_confirmation.dirty || new_password_confirmation.touched)"
         class="alert alert-danger">
      <div *ngIf="new_password_confirmation.errors.required">
        Password is required.
      </div>
    </div>

    <button class="btn btn-primary btn-block" type="submit"><i class="fas fa-user-plus"></i> Edit</button>
    <a [routerLink]="['/page/home']" id="cancel_signup"><i class="fas fa-angle-left"></i> Back</a>
  </form>
</div>
