<app-header></app-header>
<div class="journal-thumb_controls">
  <h3><a ui-sref="journal({id: journal.id})" class="ng-binding"
         href="/journals/19400199"><!-- ngIf: journal.lock_type_id > 1 -->
    &nbsp;{{user.name}}</a></h3><!-- ngIf: journal.lock_type_id <= 1 -->
  <div class="journal-thumb_controls_actions ng-scope" ng-if="journal.lock_type_id <= 1">
    <a
      class="journal-thumb_control new-entry" ui-sref="journal.entry.new({id: journal.id})" ng-click="clickNewEntry()"
      href="/journals/19400199/new">
      <span class="icon-new fa fa-pencil-square-o"></span>&nbsp;New Entry
      <!-- ngIf: journal.showNewEntryPopup --></a>
    <a class="journal-thumb_control list"
       ui-sref="journal.entries({id: journal.id})" pz-tooltip="View Entries"
       ng-click="clickListEntries()" href="/journals/19400199/entries"
       data-toggle="tooltip" title=""
       data-original-title="View Entries"><span
      class="fa fa-list"></span></a><!-- ngIf: !journal.ui.hideSettings -->
    <a class="journal-thumb_control settings ng-scope" href="" ng-click="openUpdateJournalModal($event)"
    ng-if="!journal.ui.hideSettings" pz-tooltip="Journal Settings" data-toggle="tooltip" title=""
    data-original-title="Journal Settings"><span class="fa fa-cog"></span></a>
    <!-- end ngIf: !journal.ui.hideSettings --><!-- ngIf: journal.lock_type_id == 1 && !journal.ui.hideLock --><a
    class="journal-thumb_control lock ng-scope" href="" title="" pz-tooltip="Lock journal"
    ng-if="journal.lock_type_id == 1 &amp;&amp; !journal.ui.hideLock" ng-click="toggleLock($event)"
    data-toggle="tooltip" data-original-title="Lock journal"><span class="fa fa-unlock-alt"></span></a>
    <!-- end ngIf: journal.lock_type_id == 1 && !journal.ui.hideLock -->
    <!-- ngIf: journal.lock_type_id > 1 && !journal.ui.hideLock --></div><!-- end ngIf: journal.lock_type_id <= 1 -->
  <!-- ngIf: journal.lock_type_id > 1 --></div>

