<app-header></app-header>
<div class="logreg-forms" *ngIf="user">
  <form #updateForm (ngSubmit)="onSubmit(updateForm)" class="form-signup">
    <p style="text-align:center">Edit Profile</p>

    <input type="text" id="name" name="name" class="form-control" value="{{ user.name }}"
           required>
    <input type="number" id="phone" name="phone" class="form-control" value="{{ user.phone }}"
           required>
    <input type="text" id="address" name="address" class="form-control" value="{{ user.address }}"
           required>
    <input type="number" id="age" name="age" class="form-control" value="{{ user.age }}"
           required>
    <button class="btn btn-primary btn-block" type="submit"><i class="fas fa-user-plus"></i> Edit</button>
    <a [routerLink]="['/profile/me']" id="cancel_signup"><i class="fas fa-angle-left"></i> Back</a>
  </form>
</div>
