<header *ngIf="user">
  <nav class="navbar navbar-expand-lg navbar-light bg-danger text-light py-2 main-nav">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/page/home']"><img src="" alt="Logo"></a>
    </div>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false" *ngIf="user">{{ user.name }}</button>
      <ul class="dropdown-menu" style="width: 2px" aria-labelledby="dropdownMenuButton">
        <li class="dropdown-item" [routerLink]="['/profile/me']">Profile</li>
        <li class="dropdown-item" [routerLink]="['/profile/password']">Change Password</li>
        <li class="dropdown-item" (click)="logout($event)" *ngIf="isLogin">Sing Out</li>
      </ul>
    </div>
  </nav>
</header>
