<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-danger text-light py-2 main-nav">
    <div class="container">
      <a class="navbar-brand " [routerLink]="['/page/home']"><img src="/assets/image/logo1.png" height="50"
                                                                  width="200"/></a>
    </div>
  </nav>
</header>
<div id="logreg-forms">
  <form class="form-signin" #loginForm (ngSubmit)="login(loginForm)">
    <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Sign in</h1>
    <div class="social-login">
      <button class="btn facebook-btn social-btn" type="button"><span><i class="fab fa-facebook-f"></i> Sign in with Facebook</span> </button>
      <button class="btn google-btn social-btn" type="button"><span><i class="fab fa-google-plus-g"></i> Sign in with Google+</span> </button>
    </div>
    <p style="text-align:center"> OR  </p>
    <input type="email" id="inputEmail" name="email"  class="form-control" placeholder="Email address" required="" autofocus="">

    <input type="password" id="inputPassword"  name="password"  class="form-control" placeholder="Password" required="">

    <button class="btn btn-success btn-block" type="submit"><i class="fas fa-sign-in-alt"></i> Sign in</button>

    <a href="#" id="forgot_pswd">Forgot password?</a>
    <hr>
    <a class="btn btn-primary btn-block" type="button" id="btn-signup" [routerLink]="['/signup']"><i class="fas fa-user-plus"></i> Sign up New Account</a>
  </form>
</div>

