<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Using Ckeditor in Angular</h5>
        <form #createForm (ngSubmit)="onSubmit(createForm)">
          <input class="col-md-12" type="text" name="title">
          <br>
          <hr>
          <br>
          <ckeditor [editor]="Editor" (change)="onChange($event)" style="height: 1000px" ></ckeditor>
          <br>
          <button type="submit" class="btn btn-success">Create</button>
        </form>

      </div>

    </div>
  </div>
</div>


